/* NAVBAR CONTAINER */
.navbar {
  position: sticky;
  top: 0;
  z-index: 9999;
  background: #fdf9ed;

  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;

  padding: 18px 40px;
  border-bottom: 1px solid #ddd;
}

/* EMPTY LEFT SPACE */
.nav-space {
  width: 1px;
}

.ind-time {
  text-align: left;
  font-size: 10px;
  font-weight: 100;
  color: #0a0a0a;
}

/* CENTER LOGO */
.logo {
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  color: #0a0a0a;
}

/* HAMBURGER ICON (ALWAYS VISIBLE) */
.menu-icon {
  justify-self: end;
  font-size: 28px;
  cursor: pointer;
  display: block;          /* IMPORTANT */
  z-index: 10000;          /* IMPORTANT */
}

/* MENU DROPDOWN */
.nav-menu {
  position: absolute;
  top: 70px;
  right: 40px;

  background: #ffffff;
  padding: 22px;
  border-radius: 14px;

  display: flex;
  flex-direction: column;
  gap: 14px;

  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
}

/* MENU LINKS */
.nav-menu a {
  text-decoration: none;
  color: #0a0a0a;
  font-size: 15px;
  font-weight: 500;
}

.nav-menu a:hover {
  opacity: 0.7;
}


