/* CTA */
.cta {
  text-align: center;
  padding: 120px 60px;
  background: #fdf9ed;
}

.cta h2 {
  font-size: 36px;
  font-weight: 500;
  margin-bottom: 20px;
}

.cta p {
  max-width: 900px;
  margin: 0 auto 30px;
  color: #666;
  line-height: 1.6;
}

.cta-btn {
  padding: 14px 36px;
  border-radius: 40px;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 15px;
  background: linear-gradient(90deg, #35514f, #099f9f, #000);
}

/* FOOTER */
.footer {
  background: #f3f3f3;
  padding: 60px;
}

.footer-top {
  display: grid;
  grid-template-columns: 2fr repeat(4, 1fr);
  gap: 40px;
  margin-bottom: 40px;
}

.footer-col h3 {
  font-size: 22px;
  margin-bottom: 14px;
}

.footer-col p {
  color: #555;
  margin-bottom: 10px;
  cursor: pointer;
}

.address {
  line-height: 1.6;
  font-size: 14px;
}

/* FOOTER BOTTOM */
.footer-bottom {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #ccc;
  padding-top: 20px;
  font-size: 14px;
  color: #555;
}

/* RESPONSIVE */
@media (max-width: 900px) {
  .footer-top {
    grid-template-columns: 1fr;
  }

  .footer-bottom {
    flex-direction: column;
    gap: 10px;
    text-align: center;
  }
}




.f-head {
  font-family: 'Electrolize';
  font-size: 32px;
  font-weight: 400;
  line-height: 1.1;
color: #35514f;/* same dark tone as Figma */
  text-align: center;
  margin-bottom: 40px;
}



@media (max-width: 768px) {
  .f-head{
    font-size: 40px;
  }
}