.blog {
  padding: 100px 60px;
  background: #fdf9ed;
}

/* HEADER */
.blog-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 40px;
}

.blog-header h2 {
  font-size: 36px;
  font-weight: 500;
}

.blog-header p {
  max-width: 520px;
  color: #666;
  line-height: 1.6;
}

/* BLOG CARD */
.blog-card {
  position: relative;
  border-radius: 24px;
  overflow: hidden;
  height: 360px;
}

.blog-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* OVERLAY */
.blog-overlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.85),
    rgba(0, 0, 0, 0.2)
  );
  color: white;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.blog-overlay h3 {
  font-size: 28px;
  margin-bottom: 12px;
  max-width: 700px;
}

.blog-overlay p {
  max-width: 700px;
  line-height: 1.6;
  margin-bottom: 20px;
  opacity: 0.9;
}

.blog-overlay button {
  width: fit-content;
  padding: 12px 26px;
  border-radius: 30px;
  border: 1px solid white;
  background: transparent;
  color: white;
  cursor: pointer;
}

/* RESPONSIVE */
@media (max-width: 900px) {
  .blog-header {
    flex-direction: column;
    gap: 20px;
  }

  .blog-overlay h3 {
    font-size: 22px;
  }
}



.b-head {
  font-family: 'Electrolize';
  font-size: 32px;
  font-weight: 400;
  line-height: 1.1;
color: #35514f;/* same dark tone as Figma */
  text-align: left;
  margin-bottom: 40px;
}



@media (max-width: 768px) {
  .b-head{
    font-size: 40px;
  }
}
